.u-section-1 .u-sheet-1 {
  min-height: 725px;
}

.u-section-1 .u-text-1 {
  margin: 251px 0 0;
}

.u-section-1 .u-image-1 {
  width: 233px;
  height: 219px;
  margin: 27px auto 0 127px;
}

.u-section-1 .u-image-2 {
  width: 179px;
  height: 208px;
  margin: -213px auto 0 478px;
}

.u-section-1 .u-image-3 {
  width: 186px;
  height: 230px;
  margin: -230px 189px 26px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: -52px;
    margin-left: 35px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -143px;
    margin-left: 338px;
  }

  .u-section-1 .u-image-3 {
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-3 {
    margin-bottom: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-2 {
    margin-left: 161px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 154px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}