.u-section-1 .u-sheet-1 {
  min-height: 1396px;
}

.u-section-1 .u-text-1 {
  width: 361px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 749px;
  height: 1175px;
  margin: 7px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1350px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 1129px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 847px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 533px;
  }
}